@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #c2c2a0;
}

/* --------------------------------- NavBar ------------------------------- */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 2.5rem;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #a53f44;
  backdrop-filter: blur(10px);
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -8px;
}

.nav-left span {
  position: relative;
  color: #dfdede;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-left span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #297c29, #b9b91c);
}

.nav-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-links a li {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  color: #dfdede;
}

.nav-links a li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #289428;
  transition: all 0.5s ease-in-out;
}

.nav-links a li:hover::before {
  width: 100%;
}

/* -------------------------------- Hero --------------------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: #f0efef;
}

.hero-title span {
  color: #289428;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #f0efef;
}

/* ----------------------------- Home section ------------------------------ */

.home-section {
  width: 100%;
  padding: 1.5rem;
}

.home-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: #3a3939;
  text-decoration: underline #289428;
}

.container {
  max-width: 1280px;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 2.5rem;
  margin: 0 auto;
}

.container-card {
  position: relative;
  height: 300px;
  background-color: #289428;
  box-shadow: 2px 2px 3px 3px #691e22;
}

.card-image-home {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card-overlay span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dfdede;
}

.card-link {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: linear-gradient(to right, #b35156, #5a1c1f);
  color: #dfdede;
  box-shadow: 1px 1px 2px 1px #3b0e10;
  font-weight: bold;
}

/* ---------------------------------- footer ------------------------------- */

.footer {
  height: auto;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #251314, #79292d);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-title {
  position: relative;
  color: #dfdede;
  font-weight: 700;
  font-size: 1.7rem;
}

.footer-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #297c29, #b9b91c);
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-icons span i {
  font-size: 2rem;
  cursor: pointer;
}

.footer-icons span:nth-child(1) {
  color: #297c29;
}

.footer-icons span:nth-child(2) {
  color: #597fc5;
}

.footer-icons span:nth-child(3) {
  color: #dfdede;
}

/* -------------------- CSS para todas las paginas de recetas ------------------ */

#body-pag-pizzas {
  min-height: 100vh;
  width: 100%;
}

.container-background {
  position: relative;
  height: 70vh;
  width: 100%;
}

.background-image-recetas {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.background-overlay-recetas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.recetas-title {
  color: #287728;
  font-weight: 700;
  font-size: 2.5rem;
}

.recetas-title-span {
  color: #a13f45;
}

.recetas-title-span2 {
  color: #f0efef;
}

.recetas-subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  color: #f0efef;
}

.container-grid-recetas {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 2.5rem;
  margin: 0 auto;
}

.container-cards-recetas {
  height: auto;
  background-color: rgba(56, 31, 7, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #3b0e10;
  overflow: hidden;
}

.card-image-receta {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-info-receta {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-title-receta {
  color: #f0efef;
  font-weight: 700;
  font-size: 1.3rem;
}

.card-title-ingredientes {
  color: #f0efef;
  font-weight: 500;
  font-size: 1rem;
}

.card-ingredientes {
  width: 100%;
  padding: 0.5rem 1rem;
}

.card-ingredientes ul {
  color: #f0efef;
}

.card-ingredientes ul li {
  font-size: 0.8rem;
}

.card-title-procedimiento {
  color: #f0efef;
  font-weight: 500;
  font-size: 1rem;
}

.card-procedimientos {
  width: 100%;
  padding: 0.5rem 1rem;
}

.card-procedimientos ol {
  color: #f0efef;
}

.card-procedimientos ol li {
  font-size: 0.8rem;
}

/* --------------------- pagina de recetas de pastas --------------------- */

#body-pag-pastas {
  min-height: 100vh;
  width: 100%;
}

.recetas-title-pastas {
  color: #c6cf47;
}

.recetas-title-pastas2 {
  color: #a13f45;
}

/* --------------------- pagina de recetas de carnes ---------------------- */

#body-pag-carnes {
  min-height: 100vh;
  width: 100%;
}

.recetas-title-carnes {
  color: #a85e14;
}

.recetas-title-carnes2 {
  color: #dfdede;
}
