@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #c2c2a0;
}

/* --------------------------------- NavBar ------------------------------- */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 2.5rem;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #a53f44;
  backdrop-filter: blur(10px);
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-left span {
  position: relative;
  color: #dfdede;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-left span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #297c29, #b9b91c);
}

.nav-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-links a li {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  color: #dfdede;
}

.nav-links a li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #289428;
  transition: all 0.5s ease-in-out;
}

.nav-links a li:hover::before {
  width: 100%;
}

/* -------------------------------- Hero --------------------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: #f0efef;
}

.hero-title span {
  color: #289428;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #f0efef;
}

/* ----------------------------- Home section ------------------------------ */

.home-section {
  width: 100%;
  padding: 1.5rem;
}

.home-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: #3a3939;
  text-decoration: underline #289428;
}

.container {
  max-width: 1280px;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 2.5rem;
  margin: 0 auto;
}

.container-card {
  position: relative;
  height: 300px;
  background-color: #289428;
  box-shadow: 2px 2px 3px 3px #691e22;
}

.card-image-home {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card-overlay span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dfdede;
}

.card-link {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: linear-gradient(to right, #b35156, #5a1c1f);
  color: #dfdede;
  box-shadow: 1px 1px 2px 1px #3b0e10;
  font-weight: bold;
}

/* ---------------------------------- footer ------------------------------- */

.footer {
  height: auto;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #251314, #79292d);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-title {
  position: relative;
  color: #dfdede;
  font-weight: 700;
  font-size: 1.7rem;
}

.footer-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #297c29, #b9b91c);
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-icons span i {
  font-size: 2rem;
  cursor: pointer;
}

.footer-icons span:nth-child(1) {
  color: #297c29;
}

.footer-icons span:nth-child(2) {
  color: #597fc5;
}

.footer-icons span:nth-child(3) {
  color: #dfdede;
}

/* -------------------- CSS para todas las paginas de recetas ------------------ */

#body-pag-pizzas {
  min-height: 100vh;
  width: 100%;
}

.container-background {
  position: relative;
  height: 70vh;
  width: 100%;
}

.background-image-recetas {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.background-overlay-recetas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.recetas-title {
  color: #287728;
  font-weight: 700;
  font-size: 2.5rem;
}

.recetas-title-span {
  color: #a13f45;
}

.recetas-title-span2 {
  color: #f0efef;
}

.recetas-subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  color: #f0efef;
}

.container-grid-recetas {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 2.5rem;
  margin: 0 auto;
}

.container-cards-recetas {
  height: auto;
  background-color: rgba(56, 31, 7, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #3b0e10;
  overflow: hidden;
}

.card-image-receta {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-info-receta {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-title-receta {
  color: #f0efef;
  font-weight: 700;
  font-size: 1.3rem;
}

.card-title-ingredientes {
  color: #f0efef;
  font-weight: 500;
  font-size: 1rem;
}

.card-ingredientes {
  width: 100%;
  padding: 0.5rem 1rem;
}

.card-ingredientes ul {
  color: #f0efef;
}

.card-ingredientes ul li {
  font-size: 0.8rem;
}

.card-title-procedimiento {
  color: #f0efef;
  font-weight: 500;
  font-size: 1rem;
}

.card-procedimientos {
  width: 100%;
  padding: 0.5rem 1rem;
}

.card-procedimientos ol {
  color: #f0efef;
}

.card-procedimientos ol li {
  font-size: 0.8rem;
}

/* --------------------- pagina de recetas de pastas --------------------- */

#body-pag-pastas {
  min-height: 100vh;
  width: 100%;
}

.recetas-title-pastas {
  color: #c6cf47;
}

.recetas-title-pastas2 {
  color: #a13f45;
}

/* --------------------- pagina de recetas de carnes ---------------------- */

#body-pag-carnes {
  min-height: 100vh;
  width: 100%;
}

.recetas-title-carnes {
  color: #a85e14;
}

.recetas-title-carnes2 {
  color: #dfdede;
}

/* ------------------------- Pagina Sobre Nosotros --------------------------- */

#body-sobre-nosotros {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgb(126, 95, 65), rgb(37, 23, 8));
  padding-top: 100px;
}

.sobre-nosotros {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre-nosotros-info {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sobre-nosotros-title {
  font-size: 3rem;
  font-weight: 700;
  color: #dfdede;
  text-align: center;
}

.sobre-nosotros-info-card {
  height: 450px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  overflow: hidden;
}

.sobre-nosotros-info-card img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.sobre-nosotros-info-card p {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
}

/* ---------------------------- */

.contacto {
  max-width: 1024px;
  padding: 0 1rem;
}

.contacto-title {
  font-size: 3rem;
  font-weight: 700;
  color: #f0efef;
  text-align: center;
  margin: 2rem 0;
}

.contacto-container {
  height: 500px;
  width: 100%;
  background: linear-gradient(to right, #79292d, #e9f1f7);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contacto-img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.form-contacto {
  height: 100%;
  width: 50%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.form-contacto label {
  font-weight: 500;
}

.form-contacto input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: #f0efef;
  background-color: #9e7954;
}

.form-contacto input:focus {
  outline: none;
  border: none;
}

.form-contacto input::placeholder {
  color: #f0efef;
}

.form-contacto textarea {
  padding: 8px;
  border-radius: 10px;
  color: #f0efef;
  background-color: #9e7954;
  resize: none;
}

.form-contacto textarea::placeholder {
  color: #dfdede;
}

.btn-form {
  width: 100%;
  padding: 8px 0;
  margin-top: 1rem;
  border-radius: 10px;
  color: #f0efef;
  background: linear-gradient(to right, #b35156, #5a1c1f);
  box-shadow: 1px 1px 2px 1px #3b0e10;
}

/* ------------------------------ media queries ------------------------------- */

/* -------------------------- screen size sm ------------------------ */

@media screen and (max-width: 640px) {
  /* ------------------- navbar ---------------------- */
  .nav {
    height: auto;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-left span {
    font-size: 1rem;
  }

  .nav-logo {
    height: 50px;
    width: 50px;
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-links a li {
    font-size: 0.9rem;
  }

  /* ----------------------- hero ----------------------- */

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  /* ------------------------- home section ---------------------- */

  .home-section-title {
    font-size: 2rem;
  }

  .card-overlay span {
    font-size: 1.8rem;
  }

  .card-link {
    padding: 0.3rem 1.5rem;
    font-size: 0.8rem;
  }

  /* ----------------------- todas las paginas de recetas ---------------------- */

  .container-background {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .recetas-title {
    font-size: 1.8rem;
  }

  .recetas-subtitle {
    font-size: 1.2rem;
  }

  /* --------------------------- footer -------------------------- */

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-img {
    height: 80px;
    width: 80px;
  }

  .footer-info {
    gap: 0.7rem;
  }

  .footer-title {
    font-size: 1rem;
  }

  .footer-icons {
    gap: 1rem;
  }

  .footer-icons span i {
    font-size: 1.5rem;
  }

  /* ------------------------- Pagina Sobre Nosotros --------------------------- */

  .sobre-nosotros-title {
    font-size: 1.8rem;
  }

  .sobre-nosotros-info-card {
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow: hidden;
  }

  .sobre-nosotros-info-card img {
    width: 100%;
  }

  .sobre-nosotros-info-card p {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
  }

  /* ---------------------------- */

  .contacto-title {
    font-size: 1.8rem;
  }

  .contacto-container {
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #79292d, #e9f1f7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .contacto-img {
    height: 100%;
    width: 100%;
  }

  .form-contacto {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
}

/* ------------------------- screen size md ------------------------------- */

@media screen and (min-width: 640px) and (max-width: 768px) {
  /* ------------------- navbar ---------------------- */
  .nav {
    height: auto;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .nav-left span {
    font-size: 1.2rem;
  }

  .nav-logo {
    height: 70px;
    width: 70px;
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-links a li {
    font-size: 1rem;
  }

  /* ----------------------- hero ----------------------- */

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  /* ------------------------- home section ---------------------- */

  .home-section-title {
    font-size: 2.3rem;
  }

  .card-overlay span {
    font-size: 2rem;
  }

  .card-link {
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
  }

  /* ----------------------- todas las paginas de recetas ---------------------- */

  .container-background {
    position: relative;
    height: 70vh;
    width: 100%;
  }

  .recetas-title {
    font-size: 2rem;
  }

  .recetas-subtitle {
    font-size: 1.5rem;
  }

  /* --------------------------- footer -------------------------- */

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-img {
    height: 100px;
    width: 100px;
  }

  .footer-info {
    gap: 0.7rem;
  }

  .footer-title {
    font-size: 1.2rem;
  }

  .footer-icons {
    gap: 1.5rem;
  }

  .footer-icons span i {
    font-size: 1.8rem;
  }

  /* ------------------------- Pagina sobre nosotros ----------------------- */

  .sobre-nosotros-title {
    font-size: 2rem;
  }

  .sobre-nosotros-info-card {
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow: hidden;
  }

  .sobre-nosotros-info-card img {
    width: 100%;
  }

  .sobre-nosotros-info-card p {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
  }

  /* ---------------------------- */

  .contacto-title {
    font-size: 2rem;
  }

  .contacto-container {
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #79292d, #e9f1f7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .contacto-img {
    height: 100%;
    width: 100%;
  }

  .form-contacto {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
}

/* -------------------------- screen size 2xl ------------------------ */

@media screen and (min-width: 1536px) {
  /* ------------------- navbar ---------------------- */
  .nav {
    height: auto;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .nav-left span {
    font-size: 2rem;
  }

  .nav-logo {
    height: 100px;
    width: 100px;
  }

  .nav-links {
    gap: 2rem;
  }

  .nav-links a li {
    font-size: 1.8rem;
  }

  /* ----------------------- hero ----------------------- */

  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 2.5rem;
  }

  /* ------------------------- home section ---------------------- */

  .home-section-title {
    font-size: 3rem;
  }

  .container {
    max-width: 1500px;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    gap: 2.5rem;
    margin: 0 auto;
  }

  .card-overlay span {
    font-size: 3rem;
  }

  .card-link {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  /* ----------------------- todas las paginas de recetas ---------------------- */

  .container-background {
    position: relative;
    height: 70vh;
    width: 100%;
  }

  .recetas-title {
    font-size: 4rem;
  }

  .recetas-subtitle {
    font-size: 2.5rem;
  }

  .container-grid-recetas {
    padding: 3rem;
    gap: 3rem;
  }

  .card-image-receta {
    height: 300px;
  }

  .card-title-receta {
    font-size: 1.8rem;
  }

  .card-title-ingredientes {
    font-size: 1.3rem;
  }

  .card-ingredientes {
    padding: 1rem;
  }

  .card-ingredientes ul li {
    font-size: 1rem;
  }

  .card-title-procedimiento {
    font-size: 1.3rem;
  }

  .card-procedimientos {
    width: 100%;
    padding: 1rem;
  }

  .card-procedimientos ol li {
    font-size: 1rem;
  }

  /* --------------------------- footer -------------------------- */

  .footer {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .footer-img {
    height: 150px;
    width: 150px;
  }

  .footer-info {
    gap: 1rem;
  }

  .footer-title {
    font-size: 2rem;
  }

  .footer-icons {
    gap: 2rem;
  }

  .footer-icons span i {
    font-size: 2.5rem;
  }

  /* ------------------------- Pagina sobre nosotros ----------------------- */

  #body-sobre-nosotros {
    padding-top: 150px;
  }

  .sobre-nosotros {
    padding: 2rem 1rem;
  }

  .sobre-nosotros-info {
    max-width: 1280px;
  }

  .sobre-nosotros-title {
    font-size: 3.5rem;
  }

  .sobre-nosotros-info-card {
    height: 700px;
    width: 100%;
  }

  .sobre-nosotros-info-card p {
    font-size: 1.3rem;
  }

  /* ---------------------------- */

  .contacto {
    width: 100%;
    padding: 0 1rem;
  }

  .contacto-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #f0efef;
    text-align: center;
    margin: 2rem 0;
  }

  .contacto-container {
    height: 600px;
    width: 100%;
  }

  .form-contacto {
    height: 100%;
    width: 50%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }

  .form-contacto label {
    font-size: 1.3rem;
  }

  .form-contacto input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .form-contacto textarea {
    font-size: 1rem;
  }

  .btn-form {
    width: 100%;
    padding: 12px 0;
    margin-top: 1.5rem;
  }
}
